<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="temp.css">
    <script src="templatesrc/tempsrc.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="todoList">
      <div id="todoList1" class="">
        todoList1
        <br>
        <div class="title">

        </div>
        <button id="todoList1" type="button" onclick="showToDo(this.id)" name="button">viwe</button>
        <button id="todoList1" type="button" name="button">addItem</button>
        <button id="todoList1" type="button" name="button">edit</button>
        <button id="todoList1" type="button" name="button">delete</button>
      </div>
    </div> 
  </body>
</html>
